<div class="admin-panel-container">
    <h2>Добро пожаловать в админ-панель</h2>
    <p>{{user.name}} ({{user.login}})</p>

    <div class="admin-button-group">
        <a href="/admin/moderating-announcement" class="admin-btn">Модерация объявлений</a>
        <a href="/admin/add-admin" class="admin-btn">Добавление администраторов</a>
        <a href="/admin/add-complex" class="admin-btn">Добавление жилых комплексов</a>
        <a href="/" class="admin-btn">Вернуться назад</a>
    </div>
</div>
