.register-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.register-container h1 {
    color: #333;
    margin-bottom: 25px;
    font-size: 2.1em;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.register-container label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.form-group input:focus {
    outline: none;
    border-color: #6f42c1;
}

.btn-register {
    background-color: #6f42c1;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
}



.btn-register:hover:not(:disabled) {
    background-color: #500072;
}

.btn-register:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    color: #666666;
}

.checkbox-group {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
    font-size: 14px;
}

.checkbox-group input[type="checkbox"] {
    margin-top: 4px;
    transform: scale(1.2);
}

.checkbox-group a {
    color: #007bff;
    text-decoration: underline;
}


.backBtn {
    background-color: #6f42c1;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}